@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: #F3F3F3;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: #F3F3F3;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: black !important;
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
/* .active {
  background-color: #CDDFDD;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 20%;
} */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
